/* login.css */

/* Styles for the login box */
.login-box {
    width: 300px;
    margin: 0 auto;
    padding: 40px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  .login-box h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  /* Styles for input fields */
  .textbox {
    position: relative;
    margin-bottom: 20px;
  }
  
  .textbox input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #999;
    outline: none;
  }
  
  .textbox i {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #999;
  }
  
  /* Styles for the submit button */
  .btn {
    display: block;
    width: 100%;
    padding: 12px;
    color: #fff;
    font-size: 16px;
    background: #0d6efd;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    outline: none;
  }
  
  /* Styles for social media icons */
  .social-media {
    margin-top: 20px;
    text-align: center;
  }
  
  .social-icon {
    display: inline-block;
    margin: 0 5px;
    color:black;
  }
  